*.iml
.DS_Store
target/
src-gen/
bin/
.metadata/
**/.settings/org.eclipse.*
features/*/src/main/history
npm-debug.log
node_modules/

bundles/org.openhab.ui.basic/npm-shrinkwrap.json

bundles/org.openhab.ui.cometvisu/.openapi-generator/openapi.yaml.sha256

bundles/org.openhab.ui.habot/web/package-lock.json

bundles/org.openhab.ui/web/package-lock.json
